body{
    background: #202020;
}
.container{
    width:1050px;
    margin:0 auto;
}
.header-container{
    flex-basis: 1050px;
    margin:auto;
}
.logo{
    width:90%;
}
.page{
    height:100vh;
}
.dot-pattern-top{
    background:url('../img/page_dots_top.png') no-repeat;
    background-position: top right;
    background-size:100%;
    
}
.dot-pattern-bottom{
    background:url('../img/page_dots_bottom.png') no-repeat;
    background-position: bottom right;
    background-size:100%;
    
}

.page-container{    
    display: flex;  
    position:relative;
    z-index: 2;
}

.padding-h-160{
    padding:0px 160px;
}
.page-heading{
    color:#fad91f;
    font-family: 'FuturaNext-DemiBold';
    font-size:90px;
    line-height: 90px;
    margin:0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display:block;
    margin-bottom:80px;
}
.page-para-heading-light{
    color:#fad91f;
    font-family: 'Montserrat-UltraLight';
    font-size:26px;
    margin:0px 0px 10px;
    text-transform: uppercase;
}
.page-para-heading-two{
    color:#fad91f;
    font-family: 'Montserrat-UltraLight';
    font-size:26px;
    margin:0px 0px 10px;    
}


.page-para-heading{
    color:#fad91f;
    font-family: 'Montserrat-Light';
    font-size:25px;
    margin:0px 0px 10px;
    text-transform: uppercase;
}
.page-para-heading-white{
    color:#fff;
    font-family: 'Montserrat-Regular';
    font-size:17px;
    margin:0px 0px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.page-para-heading-white-two{
    color:#fff;
    font-family: 'Montserrat-Regular';
    font-size:17px;
    margin:0px 0px 10px;    
    letter-spacing: 2px;
}

.page-links{ margin:0px; padding:0px; list-style: none;}
.page-links li{
    line-height: 20px;
    margin-bottom:24px;
}

.page-links a, article p, article, article a{
    color:#fff;
    font-family: 'Montserrat-Light';
    font-size:17px;
}

article ul, article ol{
    color:#fff;
    padding-left:18px;
}
article ul li, article ol li{
    line-height: 26px;
}

article ol.l-roman{
    list-style-type: lower-roman;
}
article ol.l-alpha{
    list-style-type: lower-alpha;
}

.faq-boy{
    width:325px;
    height:auto;
}

.condition-boy{
    width:306px;
    height:auto;
}
.privacy-girl{
    width:316px;
    height:auto;
}

.box-294{
    width:294px;
    margin-right:25px;
}

.marginTop200{
    margin-top:200px;
}
.marginTop100{
    margin-top:100px;
}

article{  
    margin-bottom:60px;
    word-wrap:break-word;
}
article p{ 
    line-height: 26px;   
}
article strong {
    font-family: 'Montserrat-SemiBold';    
}
.footer-bar{
    position:fixed !important;
}

.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}

.bottomFromTop{
    width:50px;
    height:50px;
    border-radius:50px;
    text-align: center;
    align-items: center;
    position:fixed;
    bottom:20%;
    right:10px;
    background:rgba(18,18,18,0.8);
    display:none;
    z-index: 999;
}

.bottomFromTop:hover{
     background:rgba(18,18,18,1);
}

.bottomFromTop img{
    margin-top:14px;
}

.nav{
    width:auto;
}

.nav-item.red{
    width:130px;
}
.nav-item{
    flex:auto;    
}



/* Page Responsive */
@media (min-width:320px) and (max-width:1024px){
    .logo{
        width:auto;        
    }
    .logo img{
        height:44px;
    }
    .container{
        width:100%;
    }
    .header-container{
        padding:0px;
        justify-content: center;
    }
    .page-container{
        padding:0 20px;
    }
    .column{
        flex-direction:column;
    }
    .box-294{
        width:200px;
    }
/*
    .marginTop200{
        margin-top:150px;
    }
*/
  
    .page-heading {
        font-size: 31px;
        line-height: 31px;
        position: absolute;
        top: 130px;
        z-index: 2;
        width: 254px;
    }
    .page-para-heading, .page-para-heading-light, .page-para-heading-white{
        font-size:15px;
    }
    .page-links a, article p, article ul li, article ol li, article a{
        font-size:12px;
    }
    .page-links li{
        margin-bottom:10px;
        line-height:auto;
    }
    .faq-boy{
        width:162px;
    }
    .slogan{
        display:none;
    }
    .nav, .mobile-menu-button{
        display:none;
    }
    .footer-bar{
        font-size:12px;
    }
    .privacy-girl{
        width:158px;
    }
    .condition-boy{
        width:153px;
    }
    .relative{
        z-index: 3;
    }
    
    .hidden-mobile{
        display:none;
    }
    .dot-pattern-top{
        background:url('../img/page_dots_top_mobile.png') no-repeat;   
        background-position: top right;
        background-size:100%;

    }
    .dot-pattern-bottom{
        background:url('../img/page_dots_bottom_mobile.png') no-repeat;       
        background-position: bottom right;
        background-size:100%;
    }
    
    .visible-mobile{
        display:flex;
    }
    .footer-bar-content{
        justify-content: space-between;
    }

}

